:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;

  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);

  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;

  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000;

  /* todo longhand */
  --border-with-background: 4px solid #c9b;

  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));

  /* Litir */

  /** Litir með nafni **/
  --color-yellow: #f3dd99;
  --color-white: #fff;
  --color-black: #000;
  --color-purple: #ebd;
  --color-purple-dark: #c9b;

  /** Litir með notkun **/
  --color-background-primary: var(--color-yellow);
  --color-background-secondary: var(--color-purple);
  --color-background-form: var(--color-white);
  --color-border-with-background: var(--color-purple-dark);

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Open Sans', arial, helvetica, sans-serif;
  --font-family-heading: 'Matemasie-Regular', 'Comic Sans MS', cursive;

  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}
