/** Viðburðir **/

.event {
  clear: left;
  width: 100%;
  margin-bottom: calc(var(--spacing) * 2);
}

.event .title {
  margin-bottom: var(--spacing);
}

.event .content {
  width: 100%;
}

.event img {
  float: left;
  margin-right: var(--spacing);
  margin-bottom: var(--spacing);
}

.event .register {
  clear: both;
}
