/** Letur og stærðir **/

/*** Grunnstærð er 16px ***/
html {
  font-size: var(--font-size-base);
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: Matemasie-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Matemasie-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('woff2');
}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}
