/** Fótur **/

footer {
  display: grid;
  justify-items: center;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-top: 4px solid var(--color-border-with-background);
  width: 100%;
  background-color: var(--color-background-secondary);
  text-align: center;
}

footer>.content {
  display: grid;
  justify-content: center;
  gap: var(--vertical-space);
}

footer>section {
  text-align: center;
}

footer ul {
  list-style: none;
}

footer h2 {
  margin-bottom: var(--spacing);
}

@media (width >= 700px) {
  footer>.content {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
    width: var(--width-offset);
    max-width: var(--max-width);
  }

  footer .content>section {
    grid-column: span 4;
  }
}

/*** Opnunartími ***/

dt {
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
}
