/** Meginmál og efni forsíðu **/

main {
  width: 100%;
}

/**
   * notum þetta til að fá bil á milli eininga _almennt_
   * en ekki að hver eining þurfi að huga að bili
   */
main>.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

/*** Inngangsefni á forsíðu ***/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
}

.intro img {
  order: 1;
  border-radius: var(--border-radius-image);
}

@media (width >= 500px) {
  .intro {
    flex-direction: row;
  }

  .intro img {
    max-width: var(--max-width-image);
  }
}
