/** Haus á síðum **/

header {
  padding: var(--spacing) calc(var(--spacing) * 1.5);
  width: 100%;
  background-color: var(--color-background-secondary);
  border-bottom: var(--border-with-background);
  text-align: center;
}

/** Valmynd **/

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing);
  list-style: none;
}

nav ul li {
  margin-bottom: calc(var(--spacing) / 2);
  text-align: left;
}

@media (width >= 800px) {
  nav ul {
    display: block;
  }
}
