/**
   * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
   * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
   * sem grunn og án breytinga.
   * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
   * innan <body>.
   */
.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

@media (width >= 800px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }
}

.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

.wrapper .wrapper-nav {
  margin-bottom: var(--spacing);
}

@media (width >= 800px) {
  .wrapper .wrapper-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }

  .wrapper .wrapper-nav {
    grid-column: span 2;
  }

  .wrapper .wrapper-main {
    grid-column: span 10;
  }
}
